















<!--<% if (title == "/home"){ %>
<div class="container text-center p-3">
    <h1 class="p-3"> Welcome to my portfolio </h1>
    <p class="p-4"> edit </p>
    <a class="btn btn-dark" href="/aboutme" role="button" >More about me</a>
</div> <% } else {%><%} %>
<% if (title == "About Me"){ %>
<section class="about-me" id="about">
    <h2 class="section.title section_title about"> edit</h2>
    <p class="section_subtitle section_subtitle,about">blah- insert about me here</p>
    <div class="about-me body">
        <p>write something here too</p>
    </div>
    <img src="C:\Users\maria\OneDrive\Desktop\web_assignment2\about_img2-removebg-preview.png" class="img_aboutme">
</section> 
app.get('/out', forwardAuthenticated, function(req, res) {res.render('index.html')});
->
