<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src= "/media/logo3-removebg-preview.png" class="mylogo"></a>
    <!--responsive navbar-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--me auto = margin-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
        <% if (title == "Homepage") { %>
        <link href="indexh.css" rel="stylesheet" type="text/css">
          <a class="nav-link active" href="/home">
        <% } else { %>
          <a class="nav-link" href="index.html">
        <% } %>
          <i class="fa-solid fa-house"></i> Homepage</a>
        </li>

        <li class="nav-item">
        <% if (title == "About Me") { %>
          <a class="nav-link active " href="aboutme.html">
        <% } else { %>
          <a class="nav-link" href="aboutme.html">
        <% } %>
          <i class="fa-solid fa-person-circle-question"></i> About me</a>
        </li>
        
        <li class="nav-item">
        <% if (title == "Projects") { %>
          <a class="nav-link active" href="/projects.html">
        <% } else { %>
        <a class="nav-link " href="/projects.html">
        <% } %>
        <i class="fa-solid fa-laptop-code"></i> Projects</a>
        </li>
        
        <li class="nav-item">
        <% if (title == "Contact Me") { %>
          <a class="nav-link active" href="/form.html">
        <% } else { %>
          <a class="nav-link" href="/form.html">
        <% } %>
          <i class="fa-solid fa-envelopes-bulk"></i> Contact Me </a>

        </li>
    </div>
  </div>
</nav>